RETOUR_DATA_DIR=../../data/customized_packages/knowledge
RETOUR_INDEX_PATH=./chroma_index
RETOUR_EMBEDDER_MODEL=all-MiniLM-L6-v2
RETOUR_REST_PER_POI=3
RETOUR_HOTELS_PER_CLUSTER=4
RETOUR_EVENTS_PER_CLUSTER=3